<div class="main-container">
    <h1>Todos App</h1>
    <h2>by Orit Hertzog</h2>
    <p>{{timeDate$ |async| date:'medium'}}</p>
    <span class="buttons">
        <button routerLink="/lists/-1/edit">Create new list</button>
        <button routerLink="/lists">View all lists</button>
        <button routerLink="/items">View all items</button>
    </span>
</div>

<div class="current-info">
    <div class="items-info">
        <div class="div-icon">
            <mat-icon class="mat-icons">list</mat-icon>
        </div >
        <div class="items">
            <h4>{{lists$ |async}}</h4>
            <p>Lists</p>
        </div>
    </div>

    <div class="items-info">
        <div class="div-icon">
            <mat-icon class="mat-icons">doneall</mat-icon>
        </div >
        <div class="items">
            <h4>{{items$ |async}}</h4>
            <p>Todo items</p>
        </div>
    </div>

    <div class="items-info">
        <div class="div-icon">
            <mat-icon class="mat-icons">hourglass_empty</mat-icon>
        </div>
        <div class="items">
            <h4>{{itemsActive$ |async}}</h4>
            <p>Active items</p> 
        </div>
    </div>
</div>
