:host{
    display: grid;
    grid-template-rows: auto, auto;
}

.main-container{
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 61, 61);
    padding: 10px;
    margin-top: 30px;
}

.main-container h1, .main-container h2{
    color:white;
    font-weight: normal;
}

.main-container p{
    color: white;
}

.buttons {
    padding: 10px;
}

.buttons button{
    padding: 5px;
    margin: 5px;
    width: 100px;
    border: var(--btn-danger-border);
    border-radius: var(--btn-border-rad);
    background-color: var(--btn-danger-bg-clr);
    color: var(--btn-danger-clr);
    cursor: pointer;
}

.buttons button:hover {
    background-color: var(--btn-danger-hover-clr);
}

.current-info {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
}

.current-info div{
    padding: 10px;
    margin: 5px;
    color: rgb(56, 55, 55);
}

.items-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
width: 140px;
}

.div-icon {
    justify-content: center;
}

.current-info div p {
    color: rgb(146, 145, 145);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mat-icons{
    font-size: 40px;
    width: 40px;
    height: 40px;
    color: rgba(0, 0, 0, 0.5);
    grid-row: 1;


}

.current-info h4{
    font-size: xx-large;
    font-weight: 100;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

