:host{
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: repeat(3, 1fr);
}

.edit-list {
    grid-column: 2;
    grid-row: 2;
    padding: 60px;
    border: var(--container-border);
    border-radius: var(--container-border-rad);
    background-color: var(--container-bg-clr);
    filter: var(--container-shadow);
        
}

.container {
    margin: 10px;
    padding: 10px; 
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.submit-button{
    margin: 5px;
    padding: 5px;
    width: var(--btn-size);
    background-color: var(--btn-bg-clr);
    border: var(--btn-border);
    border-radius: var(--btn-border-rad);
    cursor: pointer;

}
button:enabled:hover{
    background-color: var(--btn-hover-clr);
}


textarea, input {
    background-color: var(--textarea-input-color);
    border: 0.5px solid #0000006e;

}
mat-label {
    color: #514d4de0;
}

textarea {
    width: 478px;
    height: 87px;
}

textarea.ng-error.ng-touched{
    border: 0.5px solid darkred;
}

