<form  *ngIf="listForm" class="edit-list" [formGroup]="listForm" (ngSubmit)="onSubmit()">
    
    <div class="container">
            <mat-label>Caption: <i [style.color]="'red'"> *</i></mat-label>
            <input type="text" maxLength="11" formControlName="caption">
    </div>

        <div class="container">
            <mat-label>Description:<i [style.color]="'red'"> *</i></mat-label>
            <textarea  formControlName="description" placeholder="description with at least 30 characters and 10 words"></textarea>
            <app-errors-display *ngIf="listForm.get('description')?.errors" [error]="listForm.get('description')?.errors"></app-errors-display>
        </div>


    <span class="container">
        <mat-form-field>
            <mat-label>Icon:<i [style.color]="'red'"> *</i></mat-label>
            <mat-select formControlName="iconName"> 
                <mat-option *ngFor="let icon of icons" [value]="icon">
                    <mat-icon>{{icon}}</mat-icon>
                </mat-option>
                <mat-select-trigger >
                    <mat-icon [style.color]="'rgba(50, 50, 50, 0.7)'">{{listForm.value.iconName}}</mat-icon>
                </mat-select-trigger>  
            </mat-select>
        </mat-form-field>
    </span>

    <span class="container">
        <mat-form-field>
            <mat-label>Color:<i [style.color]="'red'"> *</i></mat-label>
            <mat-select formControlName="color" placeholder="color: ">
                <mat-option *ngFor="let color of colors" [value]="color" [style.color]="color">
                    <b>{{color}}</b>
                </mat-option>
                <mat-select-trigger [style.color]="listForm.value.color">
                    {{listForm.value.color}}
                </mat-select-trigger> 
            </mat-select>
        </mat-form-field>
    </span>
    <div class="btn-container">
    <button class="submit-button" type="submit" [disabled]="listForm.invalid">Save</button>
    </div>  
    
</form>