<div class="list-container" *ngIf="(list$ |async) as list">
   
    <h3 [style.color]="list.color">Lists > {{list.caption}}</h3>
    <span class="icon-and-description">
        <mat-icon>{{list.iconName}}</mat-icon>
        <span *ngIf="!toDelete">{{list.description}} 
            <div>
                <span class="button-controls">
                    <button [routerLink]="['/','lists', '-1', 'edit']"> New list...</button>
                    <button [routerLink]="['/','lists', list.id, 'edit']"> Edit...</button>
                    <button type="button" (click)="onDelete()"> Delete</button>
                </span>
            </div>
        </span>
        <span *ngIf="toDelete">Are you sure you want to delete the entire list?
            <div>
                <span class="button-controls">
                <button (click)="onDelete()">Cancel</button>
                <button (click)="DeleteList(list.id)">Delete</button>
                </span>
            </div>
        </span>
    </span>
        
          
        
   
</div>
<div *ngFor="let item of (listItems$ |async)">
    <app-items [caption]= "item.caption" [status]= "item.isCompleted" (complete)="editStatusToComplete(item.id)" (notComplete)="editStatusToNotComplete(item.id)"></app-items>
</div>
<form [formGroup]="addItemForm" (ngSubmit)="onAdd()">
   
        <mat-icon>check_box_outline_blank</mat-icon>
        <input type="text" formControlName="caption">
        <button type="submit" [disabled]="addItemForm.invalid"><mat-icon>add</mat-icon></button>
  <div>
    <app-errors-display *ngIf="addItemForm.get('caption')?.errors" [error]="addItemForm.get('caption')?.errors"></app-errors-display>
</div>
</form>
