@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    height: 100%;
    width: 100%;
  
}

div, body{
    display: grid;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form .ng-dirty.ng-invalid {
    outline: none;
    border: 0.5px solid red;
}

